<div id="modal"
    class="fixed inset-0 flex items-center justify-center z-10"
    _="on closeModal add .closing then remove me">
    <div class="p-6 shadow-lg rounded-lg overflow-hidden w-1/3 bg-slate-100">
        <h2 class="text-red-700 font-bold capitalize text-lg align-middle text-center my-2">Delete {{ item.name }}</h2>
        <p class="space-y-4 text-slate-700 text-lg mt-4 mb-8">Are you sure you want to delete the selected item?</p>
        <div class="flex items-baseline">
        <button 
            type="button"
            class="p-2 m-2 bg-teal-700 text-slate-50 font-semibold rounded-lg w-full hover:bg-yellow-600 hover:text-slate-50"
            hx-delete={% url "items:delete" item.id %}
            hx-target="#id-{{item.id}}" 
            hx-swap="delete swap:1s" 
            _="on click trigger closeModal">
            Delete
        </button>
        <button
            class="p-2 m-2 bg-slate-200 text-teal-700 font-semibold rounded-lg w-full
            hover:bg-slate-200 hover:text-yellow-600"
            type="button"
            _="on click trigger closeModal">Cancel
        </button>
        </div>
    </div>
</div>