<tr id="new-item" class="odd:bg-slate-50 even:bg-slate-200">
    <td scope="row" class="px-4 font-semibold">
        <input type="text" name="name" value="{{ item.name }}" class="rounded-lg w-full">
    </td>
    <td scope="row" class="py-2 px-4">
        <input name="description" value="{{ item.description }}" class="rounded-lg w-full">
    </td>
    <td scope="row" class="py-2 px-4">
        <input type="number" name="volume" value="{{ item.volume }}" class="rounded-lg w-fit">
        <select name="volume_measure" class="rounded-lg">
            {% for option in v_options %}
            <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endfor %}
        </select>
    </td>
    <td scope="row" class="py-2 px-4">
        <input type="number" name="weigth" value="{{ item.weigth }}" class="rounded-lg w-fit">
        <select name="weigth_measure" class="rounded-lg">
            {% for option in w_options %}
            <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endfor %}
        </select>
    </td>
    <td scope="row">
        {% csrf_token %}
        <button 
            type="button"
            _="on click remove #new-item"
            class="py-1 px-2 font-semibold rounded-lg bg-red-700 text-slate-100">
            C
        </button>
        <button 
            type="button"
            hx-post={% url "items:new-inline" %}
            hx-target="#new-item"
            hx-swap="outerHTML"
            hx-include="[name='name'], [name='description'], [name='volume'], [name='volume_measure'], [name='weigth'], [name='weigth_measure']"
            class="py-1 px-2 font-semibold rounded-lg bg-green-600 text-slate-100">
            S
        </button>
    </td>
  </tr>