{% extends "core/base.html" %}

{% block title %}
Items-Master
{% endblock title %}

{% block content %}
<!--BUTTONS-->
<div>
  <button 
    class="mt-4 m-2 p-2 rounded-lg bg-teal-700 text-slate-50 font-semibold 
    hover:bg-slate-100 hover:text-yellow-500" 
    hx-get="/items/new" 
    hx-target="body" 
    hx-swap="beforeend" 
    hx-trigger="click">Add new item
  </button>
</div>

<!--GRID-->
<div id="grid" class="mx-2 mt-6 relative overflow-x-auto shadow-md rounded-lg">
  <table class="w-full text-m text-left table-auto border-collapse">
    <thead class="bg-teal-700 text-slate-50">
      <tr>
        <th scope="col" class="py-2 px-4">Name</th>
        <th scope="col" class="py-2 px-4">Description</th>
        <th scope="col" class="py-2 px-4">Volume</th>
        <th scope="col" class="py-2 px-4">Weigth</th>
        <th scope="col" class="py-2 px-4">Actions</th>
      </tr>
    </thead> 
    <tbody>
      {% for item in items %}
        <tr id="id-{{item.id}}" class="odd:bg-slate-50 even:bg-slate-200">
          <td scope="row" class="py-2 px-4 font-semibold">{{ item.name }}</td>
          <td scope="row" class="py-2 px-4">{{ item.description }}</td>
          <td scope="row" class="py-2 px-4">{{ item.volume_cm3 }}</td>
          <td scope="row" class="py-2 px-4">{{ item.weigth_g }}</td>
          <td scope="row">
            {% csrf_token %}
            <button 
              type="button"
              hx-get="/items/delete/{{item.id}}" 
              hx-target="body" 
              hx-swap="beforeend" 
              hx-trigger="click"
              class="py-1 px-2 font-semibold rounded-lg bg-red-700 text-slate-100">
              D
            </button>
            <button 
              type="button"
              hx-get="/items/update/{{item.id}}"
              hx-target="#id-{{item.id}}"
              hx-swap="outerHTML"
              class="py-1 px-2 font-semibold rounded-lg bg-blue-600 text-slate-100">
              U
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
