<tr id="id-{{item.id}}" class="odd:bg-slate-50 even:bg-slate-200">
    <td scope="row" class="px-4 font-semibold">
        <input type="text" name="name" value="{{ item.name }}" class="rounded-lg w-full">
    </td>
    <td scope="row" class="py-2 px-4">
        <input type="text" name="description" value="{{ item.description }}" class="rounded-lg w-full"></input>
    </td>
    <td scope="row" class="py-2 px-4">
        <input type="number" name="volume" value="{{ item.volume }}" class="rounded-lg w-full"> 
    </td>
    <td scope="row" class="py-2 px-4">
        <input type="number" name="weigth" value="{{ item.weigth }}" class="rounded-lg w-full">
    </td>
    <td scope="row">
        {% csrf_token %}
        <button 
            type="button"
            hx-get={% url "items:inline" item.id %}
            hx-target="#id-{{item.id}}"
            hx-swap="outerHTML">
            <span class="material-symbols-rounded text-slate-700" style="font-size: 1.75rem" title="Undo changes">undo</span>
        </button>
        <button 
            type="button"
            hx-post={% url "items:update-inline" item.id %}
            hx-target="#id-{{item.id}}"
            hx-swap="outerHTML"
            hx-include="[name='name'], [name='description'], [name='volume'], [name='weigth']">
            <span class="material-symbols-rounded text-slate-700" style="font-size: 1.75rem" title="Save changes">save</span>
        </button>
    </td>
  </tr>