<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dErp {% block title %}{% endblock title %}</title>
    {% load static %} {% load static tailwind_tags %} {% tailwind_css %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <script src="{% static 'htmx.min.js' %}" defer></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block page %}{% endblock page %}
  </body>
</html>
