{% extends "core/base.html" %}

{% block title %} | Login{% endblock %}

{% block page %}
<div class="px-6 py-8 flex flex-col items-center justify-normal md:h-screen mx-auto">
    <div class="p-6 space-y-4 w-full md:mt-0 sm:max-w-md">
        <form action="{% url "core:login" %}" method="post" class="shadow px-6 pt-6 pb-8 mb-4">
            {% csrf_token %}
            {{ form }}
            <div class="flex items-center mt-2">
                <button class="w-full px-4 py-2 mt-4 text-m font-semibold">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock page %}