{% comment "navbar" %}
TODO: The navbar currently lacks color styling
Postponed to a time where theme colors are added
Also color style lacking for components
{% endcomment %}
<nav class="relative flex justify-between items-center p-4 border-b-4">
    <div>
        <span class="material-symbols-rounded" style="font-size: 2.25rem">home</span>
    </div>
    <div>
        {% comment "Searchbar" %}
        TODO: Insert a searchbar to navigate to different views
        {% endcomment %}
    </div>
    <div>
        {% comment "User actions" %}
        TODO: Insert a user's actions drop down menu 
        {% endcomment %}
        <button type="button">
            <a href="{% url "core:Logout" %}" class="p-2 rounded-md text-lg font-semibold">Logout</a>
        </button>
    </div>
</nav>